@model Seguradora.Apolice

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Apolice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NroAditivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NroAditivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataVigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataVigencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataPrimeiraParcela)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPrimeiraParcela)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cotacao1.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cotacao1.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObjetoSegurado1.TipoAutomovel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjetoSegurado1.TipoAutomovel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Segurado1.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Segurado1.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
