@model Seguradora.ObjetoSegurado

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Objeto de Seguro</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Cadastro</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Codigo)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Codigo, "Codigo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Segurado, "Segurado", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Segurado", (IEnumerable<SelectListItem>)ViewBag.Segurados, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Segurado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Tipo do Veiculo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipodoVeiculo", EnumHelper.GetSelectList(typeof(Seguradora.Comum.ModalidadeEnum)), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TipoAutomovel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodigoFipe, "Código da FIPE", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CodigoFipe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CodigoFipe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Categoria, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Categoria", EnumHelper.GetSelectList(typeof(Seguradora.Comum.CategoriaEnum)), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Categoria, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Marca, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Marca", (IEnumerable<SelectListItem>)ViewBag.Marcas, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modelo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Modelo", (IEnumerable<SelectListItem>)ViewBag.Modelos, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Potencia, "Potência", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Potencia, new { htmlAttributes = new { @type = "number", @min = "1", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Potencia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnoDeFabricacao, "Ano de fabricação", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnoDeFabricacao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AnoDeFabricacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ano do Modelo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AnoModelo", (IEnumerable<SelectListItem>)ViewBag.AnoModelos, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Chassi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Chassi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Chassi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Placa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Placa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Placa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QtdPortas, "Quantidade de portas", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QtdPortas, new { htmlAttributes = new { @type = "number", @min = "1", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QtdPortas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NroPassageiros, "Número de passageiros", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NroPassageiros, new { htmlAttributes = new { @type = "number", @min = "1", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NroPassageiros, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CepPernoite, "CEP da pernoite", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CepPernoite, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CepPernoite, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Renavam, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Renavam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Renavam, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValorFipe, "Valor na FIPE", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorFipe, new { htmlAttributes = new { @type = "number", @min = "0", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValorFipe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValorCotado, "Valor Cotado", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorCotado, new { htmlAttributes = new { @type = "number", @min = "0", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValorCotado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
<script type="text/javascript">
    function getModelos(marca) {
        $.ajax({
            url: "@Url.Action("Modelos", "Api")",
            data: { codigoMarca: marca },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("Ocorreu um erro.");
            },
            success: function (data) {
                var items = "";
                $.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                });
                $("#Modelo").html(items);
            }
        });
    }

    function getAnoModelo(marca, modelo) {
        $.ajax({
            url: "@Url.Action("AnoModelos", "Api")",
            data: { codigoMarca: marca, codigoModelo: modelo },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("Ocorreu um erro.");
            },
            success: function (data) {
                var items = "";
                $.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                });
                $("#AnoModelo").html(items);
            }
        });
    }

    function getVeiculos(marca, modelo) {
        $.ajax({
            url: "@Url.Action("Veiculos", "Api")",
            data: { codigoMarca: marca, codigoModelo: modelo },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("Ocorreu um erro.");
            },
            success: function (data) {
                var items = "";
                $.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                });
                $("#Veiculo").html(items);
            }
        });
    }

    $(document).ready(function () {
        $("#Marca").change(function () {
            var marca = $("#Marca").val();
            getModelos(marca);
        });
        $("#Modelo").change(function () {
            var marca = $("#Marca").val();
            var modelo = $("#Modelo").val();
            getAnoModelo(marca, modelo);
            getVeiculos(marca, modelo);
        });
    });
</script>

}
