@model IEnumerable<Seguradora.ObjetoSegurado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Objeto de Seguro</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Tipo do veículo")
        </th>
        <th>
            @Html.DisplayName("Código FIPE")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayName("Potência")
        </th>
        <th>
            @Html.DisplayName("Ano de fabricação")
        </th>
        <th>
            @Html.DisplayName("Ano/Modelo")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chassi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Placa)
        </th>
        <th>
            @Html.DisplayName("Quantidade de portas")
        </th>
        <th>
            @Html.DisplayName("Número de passageiros")
        </th>
        <th>
            @Html.DisplayName("CEP da pernoite")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Renavam)
        </th>
        <th>
            @Html.DisplayName("Valor FIPE")
        </th>
        <th>
            @Html.DisplayName("Valor cotado")
        </th>
        <th>
            @Html.DisplayName("Marca")
        </th>
        <th>
            @Html.DisplayName("Modelo")
        </th>
        <th>
            @Html.DisplayName("Segurado")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoAutomovel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoFipe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Potencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnoDeFabricacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnoModelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chassi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Placa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtdPortas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NroPassageiros)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CepPernoite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Renavam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorFipe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorCotado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca1.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo1.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Segurado1.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Codigo }) |
            @Html.ActionLink("Detalhar", "Details", new { id = item.Codigo }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Codigo })
        </td>
    </tr>
}

</table>
