@model Seguradora.Sinistro

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Sinistro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NroBO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NroBO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avarias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avarias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescricaoOcorrido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoOcorrido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apolice.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apolice.ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Codigo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
