@model Seguradora.Veiculo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Veiculo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Marca, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Marca", (IEnumerable<SelectListItem>)ViewBag.Marcas, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modelo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Modelo", (IEnumerable<SelectListItem>)ViewBag.Modelos, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ano/Modelo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AnoModelo", (IEnumerable<SelectListItem>)ViewBag.AnoModelos, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Combustivel, "Combustível", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Combustivel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Combustivel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodigoFipe, "Código da FIPE", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CodigoFipe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CodigoFipe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MesReferencia, "Mês de referência", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MesReferencia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MesReferencia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoVeiculo, "Tipo do veículo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TipoVeiculo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TipoVeiculo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SiglaCombustivel, "Sigla do combustível", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SiglaCombustivel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SiglaCombustivel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Adicionar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    <script type="text/javascript">
    function getModelos(marca) {
        $.ajax({
            url: "@Url.Action("Modelos", "Api")",
            data: { codigoMarca: marca },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("Ocorreu um erro.");
            },
            success: function (data) {
                var items = "";
                $.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                });
                $("#Modelo").html(items);
            }
        });
    }

    function getAnoModelo(marca, modelo) {
        $.ajax({
            url: "@Url.Action("AnoModelos", "Api")",
            data: { codigoMarca: marca, codigoModelo: modelo },
        dataType: "json",
        type: "POST",
        error: function () {
            alert("Ocorreu um erro.");
        },
        success: function (data) {
            var items = "";
            $.each(data, function (i, item) {
                items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
            });
            $("#AnoModelo").html(items);
        }
    });
    }

    function getVeiculos(marca, modelo) {
        $.ajax({
            url: "@Url.Action("Veiculos", "Api")",
            data: { codigoMarca: marca, codigoModelo: modelo },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("Ocorreu um erro.");
            },
            success: function (data) {
                var items = "";
                $.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                });
                $("#Veiculo").html(items);
            }
        });
    }

    $(document).ready(function () {
        $("#Marca").change(function () {
            var marca = $("#Marca").val();
            getModelos(marca);
        });
        $("#Modelo").change(function () {
            var marca = $("#Marca").val();
            var modelo = $("#Modelo").val();
            getAnoModelo(marca, modelo);
            getVeiculos(marca, modelo);
        });
    });
</script>
}
