@model IEnumerable<Seguradora.Veiculo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayName("Combustível")
        </th>
        <th>
            @Html.DisplayName("Código FIPE")
        </th>
        <th>
            @Html.DisplayName("Mês referência")
        </th>
        <th>
            @Html.DisplayName("Tipo do veículo")
        </th>
        <th>
            @Html.DisplayName("Sigla do combustível")
        </th>
        <th>
            @Html.DisplayName("Código do Ano/Modelo")
        </th>
        <th>
            @Html.DisplayName("Marca")
        </th>
        <th>
            @Html.DisplayName("Modelo")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Combustivel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoFipe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MesReferencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoVeiculo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SiglaCombustivel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnoModelo1.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca1.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo1.Codigo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalhar", "Details", new { id = item.ID }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
