@model List<Seguradora.Aditamento>

@{
    ViewBag.Title = "Aditamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Aditamento</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Detalhes</h4>
        <hr />
        <form action="@Url.Action("Aditamento", "Cotacao", new { id = @ViewBag.CodigoCotacao })" method="post" id="formItens" name="formItens">
            <input type="hidden" id="CodigoCotacao" name="CodigoCotacao" value="@ViewBag.CodigoCotacao">
            <table class="table">
                <tr>
                    <th></th>
                    <th>
                        Nome
                    </th>
                    <th>
                        Descrição
                    </th>

                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        @Html.Hidden("idsDisp", item.Codigo)
                        <td>@Html.CheckBox("checksDisp", false, new { @class = "cinput" })</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descriao)
                        </td>
                    </tr>
                }
            </table>
        </form>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" onclick="return Salvar();" value="Salvar e Continuar" alt="Salvar e Continuar" class="btn btn-default">
                </div>
            </div>
</div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
<script type="text/javascript">
    function Salvar() {
        document.forms[0].submit();
    }
</script>
 }
