@model Seguradora.Cotacao
@{
    ViewBag.Title = "Relatório Cotação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Relatório Cotação</h2>

<div>
    <h4>Cotação</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Segurado
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Segurado1.Nome)
        </dd>

        <dt>
            CPF/CNPJ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Segurado1.Documento)
        </dd>

        <dt>
            Fone Residencial
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Segurado1.FoneResidencial)
        </dd>

        <dt>
            Fone Celular
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Segurado1.FoneCelular)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Segurado1.Email)
        </dd>

        <dt>
            Bonus Atual
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Segurado1.BonusAtual)
        </dd>

        <dt>
            Numero CNH
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Segurado1.NumeroCNH)
        </dd>

        <dt>
            Primeira Habilitação
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Segurado1.PrimeiraHabilitacao)
        </dd>


        <dt>
            Veículo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Marca1.Descricao) - @Html.DisplayFor(model => model.Modelo1.Descricao)
        </dd>

        <dt>
            Valor da Fipe
        </dt>
        <dd>
            R$ @(Model.Veiculo1.Valor.ToString("N2"))
        </dd>

        <dt>
            Franquia
        </dt>
        <dd>
            R$ @(Convert.ToDecimal(Model.Veiculo1.Valor * 3 / 100).ToString("N2"))
        </dd>

        <dt>Valor Seguro</dt>
        <dd>
            R$ @(Model.ValorTotal.HasValue ? Model.ValorTotal.Value.ToString("N2") : "0,00")
        </dd>

        <dt>Status</dt>
        <dd>
            R$ @((Seguradora.Comum.StatusCotacaoEnum)Model.status)
        </dd>

        <dt>Aditamentos</dt>
    </dl>
</div>
<p>
    @Html.ActionLink("Voltar", "Index")
</p>