@model Seguradora.Cotacao

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Cotacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroAditivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroAditivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modalidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modalidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFinal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Codigo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
