@model Seguradora.Cotacao
@{
    ViewBag.Title = "Cotação - Informações Adicionais";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Informações Adicionais</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Cotação</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Codigo)


        <div class="form-group">
            @Html.Label("Segurado princial condutor?", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.SeguradoCondutor, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Tipo de uso do Veículo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipoUso", EnumHelper.GetSelectList(typeof(Seguradora.Comum.TipoUsoEnum)), new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Garagem Pernoite do Veículo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PernoiteDoVeiculo", EnumHelper.GetSelectList(typeof(Seguradora.Comum.PernoiteVeiculoEnum)), new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Percentual Coeficiente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PercentualCoeficiente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PercentualCoeficiente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Percentual Desconto", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PercentualDesconto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PercentualDesconto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Observações", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Observacoes, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Informações Gerais", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.InformacoesGerais, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar e continuar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

