@model IEnumerable<Seguradora.Marca>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Código")
        </th>
        <th>
            @Html.DisplayName("Descrição")
        </th>
        <th>
            @Html.DisplayName("Tipo de veículo")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoVeiculo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalhar", "Details", new { id = item.ID }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
