@model IEnumerable<Seguradora.Aditamento>

@{
    ViewBag.Title = "Aditamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Aditamentos</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descriao)
        </th>
        <th>
            @Html.DisplayName("Categoria")
        </th>
        <th>
            @Html.DisplayName("Marca")
        </th>
        <th>
            @Html.DisplayName("Modelo")
        </th>
        <th>Percentual</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descriao)
        </td>
        <td>
            @((Seguradora.Comum.CategoriaEnum) item.Categoria.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca1.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo1.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Percentual)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Codigo }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Codigo })
        </td>
    </tr>
}

</table>
