@model Seguradora.AnoModelo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AnoModelo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoVeiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoVeiculo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca1.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca1.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo1.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo1.Codigo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
