@model IEnumerable<Seguradora.Segurado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoneResidencial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoneCelular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CEP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BonusAtual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeguradoraAnterior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroCNH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimeiraHabilitacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ObjetoSegurado1.TipoAutomovel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoCivil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoneResidencial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoneCelular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CEP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BonusAtual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeguradoraAnterior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroCNH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimeiraHabilitacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ObjetoSegurado1.TipoAutomovel)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Codigo }) |
            @Html.ActionLink("Detalhar", "Details", new { id=item.Codigo }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Codigo })
        </td>
    </tr>
}

</table>
